<!-- Clasific. -->
<section class="container my-5">
  <h2 class="text-center mb-4">Clasificaciones</h2>
    <div class="card card-body">
      <div class="table-responsive">
        <table class="table table-striped align-middle">
          <thead class="table-dark">
            <tr><th>Pos</th><th>Equipo</th><th>Pts</th><th>GF</th><th>GC</th></tr>
          </thead>
        <tbody>
          <tr><td>1</td><td>Los Halcones</td><td>12</td><td>15</td><td>7</td></tr>
          <tr><td>2</td><td>Tigres</td><td>9</td><td>10</td><td>6</td></tr>
          <tr><td>3</td><td>Águilas</td><td>7</td><td>8</td><td>9</td></tr>
        </tbody>
      </table>
    </div>
  </div>
</section>